// all====================
body {
  color: dimgray;
}
img {
  width: 100%;
  height: auto;
}
.top__mv {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: dimgray;
}
a:hover {
  cursor: pointer;
  opacity: 0.7;
}
.container {
  width: 60%;
  margin: auto;
}
.clear::after {
  clear: both;
  content: "";
  display: block;
}
.section {
  padding: 60px 0;
  &__title {
    text-align: center;
    font-size: 30px;
    margin: auto;
    position: relative;
    font-family: serif;
  }
  &__title::after {
    content: "";
    width: 40px;
    height: 2px;
    background-color: dimgray;
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
  }
}
// header========================
.header {
  font-family: serif;
  padding: 20px 0;
  height: 50px;
  width: 100%;
  background-color: #e8eeec;
  position: fixed;
  z-index: 1;

  &__left {
    float: left;
  }
  &__title {
    font-size: 30px;
  }
  &__right {
    float: right;
  }
  &__nav-item {
    float: left;
    margin-left: 50px;
    font-size: 20px;
    font-weight: bold;
    line-height: 51px;
  }
}
// ABOUT=============================
.about {
  &__title {
    font-size: 20px;
    margin: 60px auto 20px;
    border-bottom: 2px dimgray solid;
    font-family: serif;
  }
  &__subtitle {
    font-weight: bold;
  }
}
.icon {
  width: 30px;
  height: auto;
}
.red__bold {
  color: red;
  font-weight: bold;
}
// WORK==============================
.work {
  &__title {
    text-align: center;
    font-size: 25px;
    margin: 60px auto;
    background-color: skyblue;
    color: #fff;
    font-family: serif;
  }
  &__title-qiita {
    text-align: center;
    font-size: 25px;
    margin: 60px auto;
    background-color: lightgreen;
    color: #fff;
    font-family: serif;
  }
  &__subtitle {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  &__left {
    float: left;
    width: 40%;
  }
  &__right {
    float: right;
    width: 50%;
  }
  &__img {
    width: 100%;
    height: auto;
    border: 1px solid dimgray;
  }
  &__description-link{
    text-align: center;
  }
  &__img-description {
    text-align: center;
    margin: 10px auto 60px;
  }
}
// CONTACT===========================
.contact__message {
  text-align: center;
  margin: 60px auto;
}
input[type="name"],
[type="email"],
[type="tel"] {
  width: 70%;
  border: 2px solid dimgray;
  font-size: 15px;
  display: block;
  margin: 10px auto;
  padding: 7px;
  font-family: serif;
}
#textarea {
  font-size: 15px;
  margin: 10px auto;
  width: 71%;
  border: 2px solid dimgray;
  display: flex;
  font-family: serif;
}
.btn {
  font-size: 20px;
  width: 200px;
  background: #00478b;
  color: #fff;
  padding: 10px;
  border: none;
  margin: 30px auto;
  display: block;
}
.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

// footer======================
footer {
  background-color: #082b48;
  color: #fff;
  padding: 20px 0;
}
.copyright {
  font-size: 12px;
  float: right;
}
// resposive=====================
@media screen and (max-width: 1024px) {
  .container {
    width: 90%;
    margin: auto;
  }
}
@media screen and (max-width: 767px) {
  // header====================
  .header {
    height: 80px;

    &__left {
      float: none;
    }
    &__right {
      float: none;
    }
    &__title {
      text-align: center;
    }
    &__nav {
      display: flex;
      justify-content: space-between;
    }
    &__nav-item {
      margin: 0 auto;
      font-size: 15px;
      float: none;
    }
  }
  // WORK=====================
  .work{
    &__left {
      float: none;
      width: 100%;
    }
    &__right {
      float: none;
      width: 100%;
    }
    &__img {
      width: 100%;
      height: auto;
      border: 1px solid dimgray;
    }
  }
  input[type="name"],
  [type="email"],
  [type="tel"] {
    width: 90%;
  }
  #textarea {
    width: 92%;
  }
}
